@model IEnumerable<TestData>
@{
    ViewData["Title"] = "Azure Sql Server";
}
<h2>Test data queried from Azure Sql Server:</h2>
<ul>
    @foreach(var td in Model)
    {
        <li>@td.Id: @td.Data</li>
    }
</ul>